:root {
  --menu-border: 1px;
  --menu-border-negative: -1px;
}

.task-menu {
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  margin-right: -4px;
  user-select: none;
}

.task-menu:hover {
  background-color: #ffffff22;
}

.task-menu.active {
  background-color: #aaaaaa;
  border-radius: 3px 3px 0 0;
}

.task-menu.active .task-menu-button {
  /* background-color: #aaaaaa; */
  background-color: inherit;
  border-radius: 3px 3px 0 0;
  border: solid var(--menu-border) black;
  border-bottom: none;
  margin: var(--menu-border-negative) var(--menu-border-negative) 0 var(--menu-border-negative);
  z-index: 101;
  position: inherit;
}

.task-menu-content {
  position: absolute;
  z-index: 100;
  right: 0;
  width: max-content;
  /* background-color: #aaaaaa; */
  background-color: inherit;
  border-radius: 3px 0 3px 3px;
  border: solid var(--menu-border) black;
  transform: translate(var(--menu-border), var(--menu-border-negative));
}

.task-menu-content-item {
  padding: 5px;
  cursor: pointer;
  background-color: inherit;
}

.task-menu-content-item:hover {
  /* background-color: #bbbbbb; */
  background: #ccc;
  mix-blend-mode: multiply;
}

.task-menu-content-item:active {
  /* background-color: #bbbbbb; */
  background: #bbb;
  mix-blend-mode: multiply;
}

/* .task-menu-submenu {
  position: relative;
  right: 100%;
  top: calc(-100% - 1px);
  background-color: inherit;
  border: solid var(--menu-border) black;
  border-right: none;
  border-radius: 3px 0 0 3px;
  padding-right: 5px;
} */
.submenu-item {
  padding: 5px;
  padding-left: 10px;
  font-weight: 300;
  font-size: 0.95rem;
  margin: 0 -5px 0 -5px;
}

.submenu-item:hover {
  background: #bbb;
  mix-blend-mode: multiply;
}

.task-card.late .task-menu.active {
  background-color: var(--late-color);
}

.task-card.due .task-menu.active {
  background-color: var(--due-color);
}

.task-card.idle .task-menu.active {
  background-color: var(--idle-color);
}

.task-card.early .task-menu.active {
  background-color: var(--early-color);
}

.task-card.unknown .task-menu.active {
  background-color: var(--unknown-color);
}

.task-card.due-over .task-menu.active {
  background-color: var(--due-over-color);
}
