.list-card {
  /* color: darkblue; */
  color: black;
  background-color: skyblue;
  display: inline-block;
  padding: 20px;
  margin: 10px;
}

.task-list-list a {
  text-decoration: none2;
}

.list-card.shopping-l {
  background-color: lightgrey;
  border: 2px solid black;
  color: green;
  padding: 18px;
  /* color: darkgreen; */
  /* background-color: lightgreen; */
}

.list-card.late {
  background-color: rgb(241, 121, 121);
}

.list-card.due {
  background-color: rgb(255, 162, 43);
}

.list-card.early {
  background-color: rgb(90, 192, 90);
}

.list-card.today {
  background-color: rgb(255, 224, 48);
}

.list-card.unknown.late {
  background: linear-gradient(rgb(241, 121, 121) 50%, rgb(241, 96, 241));
}

.list-card.unknown.due {
  background: linear-gradient(rgb(255, 162, 43) 50%, rgb(241, 96, 241));
}

.list-card.unknown.early {
  background: linear-gradient(rgb(90, 192, 90) 50%, rgb(241, 96, 241));
}

.list-card.unknown.idle {
  background: linear-gradient(skyblue 50%, rgb(241, 96, 241));
}

.list-card.unknown.today {
  background: linear-gradient(rgb(255, 224, 48) 50%, rgb(241, 96, 241));
}

@media only screen and (max-width: 500px) {
  .list-card {
    display: block;
  }
  .list-card::after {
    content: " Luo uusi lista!";
  }
}
